<a href="https://colab.research.google.com/github/juliawxw/goals/blob/main/pandas_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework 3. Pandas

## Important notes

1. *When you open this file on GitHub, copy the address to this file from the address bar of your browser. Now you can go to [Google Colab](https://colab.research.google.com/), click `File -> Open notebook -> GitHub`, paste the copied URL and click the search button (the one with the magnifying glass to the right of the search input box). Your personal copy of this notebook will now open on Google Colab.*
2. *Do not delete or change variable names in the code cells below. You may add to each cell as many lines of code as you need, just make sure to assign your solution to the predefined variable(s) in the corresponding cell. Failing to do so will make the tests fail.*
3. *To save your work, click `File -> Save a copy on GitHub` and __make sure to manually select the correct repository from the dropdown list__.*
4. *If you mess up with this file and need to start from scratch, you can always find the original one [here](https://github.com/hse-mlwp-2022/assignment3-template/blob/main/pandas_exercise.ipynb). Just open it in Google Colab (see note 1) and save to your repository (see note 3). Remember to backup your code elsewhere, since this action will overwrite your previous work.* 
5. *Exercises 1-4 are mandatory. Your work __will not be graded__ if you fail any one of them. Exercises 5-8 are optional, you can skip them if you want*

## About the Dataset

We will be using 2019 flight statistics from the United States Department of Transportation’s Bureau of Transportation Statistics (available [here](https://www.transtats.bts.gov/DL_SelectFields.asp?gnoyr_VQ=FMF&QO_fu146_anzr=Nv4%20Pn44vr45) and in your repository as `data/T100_MARKET_ALL_CARRIER.zip`). You can load the dataset in pandas using this link: `https://github.com/hse-mlwp-2022/assignment3-template/raw/main/data/T100_MARKET_ALL_CARRIER.zip`.

Each row contains information about a specific route for a given carrier in a given month (e.g., JFK &rarr; LAX on Delta Airlines in January). There are 321,409 rows and 41 columns. Note that you don't need to unzip the file to read it in with `pd.read_csv()`.

#### Exercises

##### 1. Read in the data and convert the column names to lowercase to make them easier to work with.

In [1]:
import pandas as pd
c = pd.read_csv('https://github.com/hse-mlwp-2022/assignment3-template/raw/main/data/T100_MARKET_ALL_CARRIER.zip')
c.rename(columns={col:col.lower() for col in c}, inplace = True)

##### 2. What columns are in the data? (0.5 point)

In [2]:
columns = list(c.columns) # Place your code here instead of '...'

print(columns)

['passengers', 'freight', 'mail', 'distance', 'unique_carrier', 'airline_id', 'unique_carrier_name', 'unique_carrier_entity', 'region', 'carrier', 'carrier_name', 'carrier_group', 'carrier_group_new', 'origin_airport_id', 'origin_airport_seq_id', 'origin_city_market_id', 'origin', 'origin_city_name', 'origin_state_abr', 'origin_state_fips', 'origin_state_nm', 'origin_country', 'origin_country_name', 'origin_wac', 'dest_airport_id', 'dest_airport_seq_id', 'dest_city_market_id', 'dest', 'dest_city_name', 'dest_state_abr', 'dest_state_fips', 'dest_state_nm', 'dest_country', 'dest_country_name', 'dest_wac', 'year', 'quarter', 'month', 'distance_group', 'class', 'data_source']

##### 3. How many distinct carrier names are in the dataset? (0.5 point)

In [3]:
carrier_names = c["carrier_name"].unique() # Place your code here instead of '...'

print(carrier_names)

['Emirates' 'Bemidji Airlines' 'Kalitta Air LLC'
 'Eastern Airlines f/k/a Dynamic Airways, LLC'
 'Rhoades Aviation dba Transair' 'Air Charter, Inc d/b/a Air Flamenco'
 'Southern Air Inc.' 'Federal Express Corporation'
 'Grand Canyon Helicopters' 'Polar Air Cargo Airways'
 'USA Jet Airlines Inc.' 'Omni Air International LLC'
 'Compagnie Natl Air France' 'Martinair Holland N.V.'
 'Korean Air Lines Co. Ltd.'
 'Aerounion Aerotransporte de Carga Union SA de CV'
 'Silk Way West Airlines' 'Asiana Airlines Inc.' 'SkyLink Express Inc.'
 'Qantas Airways Ltd.' 'Qatar Airways (Q.C.S.C)' 'Singapore Airlines Ltd.'
 'Turk Hava Yollari A.O.' 'China Cargo Airline' 'ADVANCED AIR, LLC'
 'CFM Inc d/b/a Contour Airlines d/b/a One Jet Shuttle'
 'Kalitta Charters II'
 'National Air Cargo Group Inc d/ba National Airlines' 'Asia Pacific'
 'Antonov Company'
 'Grand Canyon Airlines, Inc. d/b/a Grand Canyon Airlines d/b/a Scenic Airlines'
 'United Parcel Service' 'Atlas Air Inc.' 'Air Transport International'
 'Wright Air Service' 'Cape Air' 'JetBlue Airways'
 'Commutair Aka Champlain Enterprises, Inc.' 'Island Air Service'
 'Warbelow' 'Grant Aviation' 'Western Global' 'Northern Air Cargo Inc.'
 '40-Mile Air' 'Spernak Airways Inc.' 'Cargolux Italia SpA'
 'Cathay Pacific Airways Ltd.' 'China Southern Airlines'
 'Maritime Helicopters, Inc.' 'Scott Aviation, LLC  d/b/a  Silver Air'
 'Tatonduk Outfitters Limited d/b/a Everts Air Alaska and Everts Air Cargo'
 'Ryan Air f/k/a Arctic Transportation'
 'Caribbean Sun Airlines, Inc. d/b/a World Atlantic Airlines'
 'Boutique Air' 'United Air Lines Inc.' 'Bering Air Inc.' 'ABX Air Inc'
 'Hageland Aviation Service' 'Delta Air Lines Inc.'
 'Alaska Central Express' 'Star Marianas Air Inc.' 'Ameristar Air Cargo'
 'Alaska Airlines Inc.' 'Ellis Air Taxi Inc.' 'Kenmore Air Harbor'
 'AeroLogic GmbH' 'Etihad Airways' 'Aerotransportes Mas De Crga'
 'Jet Aviation Flight Services, Inc.' 'Avjet Corporation'
 'Sky Lease Cargo' 'Alia-(The) Royal Jordanian'
 'AirBridgeCargo Airlines Limited' 'Mesa Airlines Inc.'
 'Southwest Airlines Co.' 'Trans States Airlines'
 'Air Wisconsin Airlines Corp' 'Lan Colombia'
 'ABSA-Aerolinhas Brasileiras' 'Eva Airways Corporation'
 'China Airlines Ltd.' 'Lan-Chile Airlines'
 'Kalinin Aviation LLC d/b/a Alaska Seaplanes' 'Smokey Bay Air Inc.'
 'Pacific Airways, Inc.'
 'Corvus Airlines, Inc d/b/a Era Aviation d/b/a Ravn Alaska'
 'Multi-Aero, Inc. d/b/a Air Choice One' 'Estafeta Carga Aereas'
 'Cavok Air LLC'
 'Paklook Air, Inc d/b/a/ Airlift Alaska d/b/a/ Yute Commuter Service'
 'Venture Travel LLC d/b/a Taquan Air Service'
 'Transportes Aereos Mercantiles Panamericanos S.A' 'Volga-Dnepr Airlines'
 'Cargojet Airways Ltd.' 'Cargolux Airlines International S.A'
 'Aloha Air Cargo' 'Transportes Aeros Meridiona' 'Miami Air International'
 'Amerijet International' 'Prescott Support Company, Inc.'
 'Iliamna Air Taxi' 'Lynden Air Cargo Airlines' 'C.A.L Cargo Airlines'
 'Lufthansa German Airlines' 'Oceanair Linhas Aereas S A'
 'Cargologicair Limited'
 'National Aviation Company of India Limited d/b/a Air India'
 'DHL Aero Expresso' 'Lan Peru Airlines'
 'Sun Air Express LLC dba Sun Air International'
 'Tropic Ocean Airways LLC' 'Nippon Cargo Airlines'
 'Tap-Portuguese Airlines' 'ACE Belgium Freighters S.A.'
 'Yangtze River Express Airlines Company' 'Empire Airlines Inc.'
 'Air Sunshine Inc.' 'Compania Panamena (Copa)' 'Gulf And Caribbean Cargo'
 'Lan Ecuador' 'Air China'
 'Bidzy Ta Hot Aana, Inc. d/b/a Tanana Air Service' 'Compass Airlines'
 'Harris Air Services' 'European Air Transport Leipzig GmbH'
 'American Airlines Inc.' 'Katmai Air' 'All Nippon Airways Co.'
 'Mokulele Flight Services, Inc.' 'Elite Airways LLC' 'Air Excursions LLC'
 'GoJet Airlines LLC d/b/a United Express' 'Republic Airline'
 'Nolinor Aviation' 'Swift Air, LLC d/b/a Eastern Air Lines d/b/a Eastern'
 'Rectrix Aviation, Inc.'
 'Trans Northern Airways d/b/a Air Unlimited Charter Services'
 'Scott Air LLC dba Island Air Express' 'Gem Air LLC' 'Endeavor Air Inc.'
 'Reeve Air Alaska, LLC' 'El Al Israel Airlines Ltd.' 'Piedmont Airlines'
 'J&M Alaska Air Tours, Inc. d/b/a Alaska Air Transit'
 'Hillwood Airways, LLC  f/k/a   ATX Air Services, LLC' 'XTRA Airways'
 'Air Alsie A/S' 'Aeromexico' 'Tradewind Aviation'
 'Air Hamburg Luftverkehrsgesellschaft mbH' 'Unijet' 'CAT Aviation'
 'VistaJet Limited' 'Horizon Air' 'SkyWest Airlines Inc.'
 'Spirit Air Lines' 'FAI rent-a-jet AG' 'ExpressJet Airlines Inc.'
 'Envoy Air' 'Chartright Air Inc.' 'London Air Services Limited'
 'ACM AIR CHARTER GmbH' 'Luxaviation S A' 'Svenskt Industriflyg AB'
 'Gestair, S.A.' 'Prince Aviation'
 'Sun Country Airlines d/b/a MN Airlines' 'Flying Service N.V.'
 'Flying Group Lux S.A.' 'Albinati aviation Limited'
 'ExpressJet Airlines LLC' 'Albinati Aeronautics SA'
 'TAG Aviation (UK) Ltd.' 'Dassault Falcon Service' 'Comlux Malta, Ltd.'
 'PSA Airlines Inc.' 'Frontier Airlines Inc.'
 'Hong Kong Express Airways Limited' 'Peninsula Airways Inc.'
 'Via Airlines d/b/a Charter Air Transport' 'Skyfirst Limited'
 'Swiss Air Ambulance' 'Bertelsmann Aviation GmbH' 'Blue Jet SP Z o o'
 'Talofa Airways Limited' 'ABS JETS A.S' 'Global Jet Luxembourg, Sa'
 'Hyperion Aviation Ltd. dba Hyperion' 'TAG Aviation S.A.' 'JetClub AG'
 'Elitavia Malta Limited' 'Acropolis Aviation Ltd.'
 'International Jet Management GmbH' 'DCA'
 'Volkswagen AirSevice GmbH dba Volkswagon' 'TAG Aviation (Malta) Ltd.'
 'Seaborne Virgin Islands, Inc.' 'Jet Aviation Business Jets AG'
 'China Eastern Airlines' 'Bradley Air Services Ltd.'
 'Thomas Cook Airlines Uk Ltd.' 'Klm Royal Dutch Airlines'
 'Gainjet Aviation SA'
 'Nealco Air Charter Services, Inc.  d/b/a  Watermakers Air'
 'Concierge U Ltd. d/b/a Jet Concierge Club' 'Vieques Air Link Inc.'
 'Laudamotion Executive' 'Luxaviation Germany GmbH'
 'Aeroenlaces Nacionales, S.A. de C.V. d/b/a VivaAerobus'
 'Comlux Aruba NV' 'Swiss International Airlines' 'Laudamotion GmbH'
 'Allegiant Air'
 'Compagnie Aerienne Inter Regionale Express dba Air Antilles Express & Air Guyane'
 'Air Canada' 'Sichuan Airlines Co Ltd.'
 'Concesionaria Vuela Compania De Aviacion SA de CV (Volaris)'
 'Key Lime Air Corporation' 'Longtail Aviation Ltd.'
 'Bahamasair Holding Limited' 'Mjet GmbH' 'Westjet'
 'Polynesian Airlines Ltd.' 'Sky Regional Airlines Inc.'
 'Polaris Aviation Solutions, LLC' 'Delux Public Charter LLC'
 'Hong Kong Airlines Limited' 'Jazz Aviation LP' 'Hawaiian Airlines Inc.'
 'Titan Airways' 'KaiserAir, Inc.' 'Air Georgian'
 'Friday Harbor Seaplanes' 'Air Company Yakutia' 'Porter Airlines, Inc.'
 'Silver Airways' 'Scandinavian Airlines Sys.' 'VRG Linhas Aereas S A'
 'Condor Flugdienst' 'Flair Airlines Ltd.' 'Aerovias Nacl De Colombia'
 'Britannia Airways Ltd.' 'Air Canada rouge LP' 'British Airways Plc'
 'Surinam Airways Limited' 'Saudi Arabian Airlines Corp' 'Aerolitoral'
 'Virgin Atlantic Airways' 'Norwegian Air International Ltd.'
 'Sunwing Airlines Inc.' 'Air Pacific Ltd.' 'Icelandair'
 'Azul Linhas Aereas Brazileiras S A' 'Caribbean Airlines Limited'
 'Skymark Airlines Inc.' 'South African Airways'
 'Tantalus Air Ltd. d/b/a Harbour Air d/b/a Harbour Air Seaplanes'
 'Cayman Airways Limited' 'Air Transat' 'Hainan Airlines Company Limited'
 'Japan Air Lines Co. Ltd.' 'ABC Aerolineas SA de CV dba Interjet'
 'Iberia Air Lines Of Spain' 'Scoot Tigerair Pte Ltd d/b/a Scoot' 'Lacsa'
 'Ultimate JetCharters LLC dba Ultimate Air Shuttle' 'Edelweiss Air Ag'
 'Finnair Oy' 'Taca Peru' 'Sata Internacional' 'Norwegian Air Shuttle ASA'
 'Polskie Linie Lotnicze' 'Compagnia Aerea Italiana'
 'TUI Airlines Nederland B.V.' 'Brussels Airlines N.V.'
 'Virgin Blue International Airlines t/a V Australia' 'Jeju Air Co Ltd.'
 'Fast Colombia SAS d/b/a Viva Colombia' 'Eurowings GmbH'
 'Norwegian Air UK Limited' 'WOW Air ehf' 'Air Europa'
 'Aeroflot Russian Airlines' 'Transportes Aereos De Cabo'
 'XL Airways France' 'PM Air, LLC' 'Austrian Airlines'
 'Taca International Airlines' 'Ethiopian Airlines'
 'Azerbaijan Airlines CJSC' 'Air New Zealand' 'New England Airlines Inc.'
 'Aer Lingus Plc' 'Air Tahiti Nui' 'City Wings Inc dba Seaflight'
 'Royal Air Maroc' 'Xiamen Airlines Co., Ltd.' 'Vuela Aviacion, S.A.'
 'French bee' 'Uzbekistan Airways' 'Air Serbia' 'Airitaly S.P.A.'
 'Beijing Capital Airlines' 'Aerolineas Argentinas'
 'Tame Linea Aerea del Ecuador Tme EP' 'Egyptair'
 'Aerovias de Intergracian Regional' 'OPENSKIES SAS'
 'Jetstar Airways Pty Limited' 'Kenya Airways PLC' 'Aviateca, S.A.'
 'Philippine Airlines Inc.' 'Avior Airlines, C.A.' 'Jin Air Co Ltd.'
 'Ukraine International Airlines' 'Air Asia X Berhad dba Airasia X'
 'LAN Argentina' 'Kuwait Airways Corp.' 'Air Japan Co']

##### 4. Calculate the totals of the `freight`, `mail`, and `passengers` columns for flights from the United Kingdom to the United States. (1 point)

In [4]:
freight_total = c[(c['origin_country'] == 'GB') & (c['dest_country'] == 'US')]['freight'].sum() # Place your code here instead of '...'
mail_total = c[(c['origin_country'] == 'GB') & (c['dest_country'] == 'US')]['mail'].sum() # Place your code here instead of '...'
passengers_total = c[(c['origin_country'] == 'GB') & (c['dest_country'] == 'US')]['passengers'].sum() # Place your code here instead of '...'

print(f"freight total: {freight_total}")
print(f"mail total: {mail_total}")
print(f"passengers total: {passengers_total}")

freight total: 903296879.0
mail total: 29838395.0
passengers total: 10685608.0

##### 5. Which 10 carriers flew the most passengers out of the United States to another country? (1.5 points)
The result should be a Python iterable, e.g. a list or a corresponding pandas object

In [5]:
import numpy as np
top_10_by_passengers = c[(c['origin_country'] == 'US') & (c['dest_country'] != 'US')].groupby('carrier_name').agg({'passengers':np.sum}).sort_values('passengers').reset_index()[-10:] # Place your code here instead of '...'
print(f"List of top 10 carriers with max number of passengers flown out of US: {top_10_by_passengers}")

List of top 10 carriers with max number of passengers flown out of US:                   carrier_name  passengers
262    Virgin Atlantic Airways   2074735.0
263     Southwest Airlines Co.   2146960.0
264                 Air Canada   2540855.0
265                    Westjet   2626600.0
266  Lufthansa German Airlines   3123611.0
267        British Airways Plc   3758945.0
268            JetBlue Airways   4522492.0
269       Delta Air Lines Inc.  13054230.0
270      United Air Lines Inc.  14427923.0
271     American Airlines Inc.  14867653.0

##### 6. Between which two cities were the most passengers flown? Make sure to account for both directions. (1.5 points)

In [7]:
needed_entry = c.groupby(['origin_city_name', 'dest_city_name']).agg({'passengers':np.sum}).sort_values('passengers').reset_index().values[-1]
top_route_origin_city = needed_entry[0] # Place your code here instead of '...'
top_route_dest_city = needed_entry[1] # Place your code here instead of '...'
top_route_passengers_count = needed_entry[2] # Place your code here instead of '...'

print(f"top route is '{top_route_origin_city} - {top_route_dest_city}' with traffic of {top_route_passengers_count} passengers")

top route is 'Chicago, IL - New York, NY' with traffic of 2067068.0 passengers

##### 7. Find the top 3 carriers for the pair of cities found in #6 and calculate the percentage of passengers each accounted for. (2 points)
The result should be a pandas dataframe object with two columns: 
1. carrier name (string)
2. percentage of passengers (float in the range of 0-100)

In [8]:
total_passengers = c[(c['origin_city_name'] == top_route_origin_city) & (c['dest_city_name'] == top_route_dest_city)]['passengers'].sum()
top_3_carriers_df = c[(c['origin_city_name'] == top_route_origin_city) & (c['dest_city_name'] == top_route_dest_city)].groupby('carrier_name').agg({'passengers' : (lambda x: np.sum(x) / total_passengers * 100)}).sort_values('passengers').reset_index()[-3:].rename(columns = {'carrier_name': 'carrier name', 'passengers' : 'percentage of passengers'}) # Place your code here instead of '...'

top_3_carriers_df

              carrier name  percentage of passengers
12    Delta Air Lines Inc.                 13.237736
13   United Air Lines Inc.                 23.127686
14  American Airlines Inc.                 31.667754

##### 8. Find the percentage of international travel per country using total passengers on class F flights. (3 points)

In [9]:
c1 = c[c['class'] == 'F'].groupby(['origin_country', 'dest_country']).agg({'passengers': np.sum}).reset_index()
c_int = c1[c1['origin_country'] != c1['dest_country']].groupby('origin_country').agg({'passengers': np.sum}).reset_index()
c_all = c1.groupby('origin_country').agg({'passengers': np.sum}).reset_index()
international_travel_per_country = pd.DataFrame([[x, c_int[c_int['origin_country'] == x]['passengers'].sum() / c_all[c_all['origin_country'] == x]['passengers'].sum() * 100] for x in c1['origin_country'].unique()], columns = ['origin country', 'percentage of international travel']) # Place your code here instead of '...'

international_travel_per_country

    origin country  percentage of international travel
0               AE                               100.0
1               AG                               100.0
2               AI                               100.0
3               AR                               100.0
4               AT                               100.0
..             ...                                 ...
104             VC                               100.0
105             VE                               100.0
106             VG                               100.0
107             WS                               100.0
108             ZA                               100.0

[109 rows x 2 columns]